.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    padding-top: 250px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 600;
    animation: slide-in-left 2s ease-out;
}

.hero-left p {
    color: #171717;
    font-size: 100px;
    font-weight: 700;
    animation: slide-in-left 2s ease-out; /* Add this line for animation */
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    animation: slide-in-left 2s ease-out;
    
}

.hero-hand-icon img {
    width: 105px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 310px;
    height: 250px;
    border-radius: 100px;
    margin-top: 35px;
    background: #ff4141;
    color: white;
    font-size: 25px;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

/* Add this keyframes animation for the slide-in effect */
@keyframes slide-in-left {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.hero-right img{
    width: 550px;
}